.sectionOne {
  display: flex;
  justify-content: center;
}

.backgroundImg {
  width: 100vw;
  height: 100vh;
}
.titleBlock {
  position: absolute;
  bottom: 75%;
  background-color: rgba(0, 0, 0, 80%);
  color: white;
  padding-left: 50px;
  padding-right: 50px;
}

.descBlock {
  position: absolute;
  bottom: 60%;
  color: black;
}
