.sectionSix {
  padding: 35px 100px;
  background-color: #e1e5ea;
}

.containerSix {
  display: flex;
  justify-content: center;
}

.chartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.path:hover {
  fill: #1f3c88;
  opacity: 0.9;
}

.sort {
  font-size: 10px;
  width: 50px;
  display: inline-block;
  fill: #04009a;
  cursor: pointer;
}
.sort:hover {
  /* fill: #fa9905; */
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.tooltip: {
  width: 400px;
  text-align: "left";
}
