.sectionThree {
  padding: 100px 20px;
  background-color: #f2f2f2;
}

.containerThree {
  display: flex;
  justify-content: center;
}

.industryBar rect:hover {
  fill: #1f3c88;
  opacity: 0.9;
}

.lineChart {
  display: none;
  margin-top: 50px;
  position: relative;
  left: 10%;
}

.barChart {
  position: relative;
  left: 20%;
}

.hint {
  display: flex;
  font-size: 10px;
  justify-content: center;
  margin-top: -20px;
  margin-bottom: 20px;
  opacity: 0;
  transition: all 0.5s ease;
  color: #04009a;
}

.icon {
  font-size: 16px;
  margin-top: -3px;
  margin-right: 5px;
  transform: rotate(30deg);
}
