.sectionTwo {
  padding: 40px 100px;
  background-color: #e1e5ea;
}

.containerTwo {
  display: flex;
  justify-content: space-around;
}

.ant-checkbox-wrapper {
  font-size: 11px;
}

.chart {
  padding: 50px;
}

hr {
  width: 300px;
}

.layer rect:hover {
  opacity: 0.6;
}

.tooltip-container {
  position: absolute;
  width: auto;
  background-color: white;
  padding: 2px 10px 2px 10px;
  display: none;
  font-size: 11px;
  border: 1px solid #555;
}
