.sectionTwo {
  padding: 40px 100px;
  background-color: #e1e5ea;
}

.containerTwo {
  display: flex;
  justify-content: space-around;
}

.ant-checkbox-wrapper {
  font-size: 11px;
}

.chart {
  padding: 50px;
}

hr {
  width: 300px;
}

.layer rect:hover {
  opacity: 0.6;
}
