.sectionFour {
  padding: 40px 100px;
  background-color: #e1e5ea;
}

.containerFour {
  display: flex;
  justify-content: space-around;
}

.text {
  font-size: 10px;
}

.number {
  background-color: #a1cae2;
  letter-spacing: normal;
}

svg .area:hover {
  stroke: #fff;
  opacity: 0.9;
  stroke-width: 2px;
  cursor: pointer;
}

.interaction {
  margin-top: 30px;
  margin-left: 50px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
}

.hoverhint {
  font-size: 10px;
  width: 150px;
  display: flex;
  margin-top: -20px;
  transition: all 0.5s ease;
  color: #04009a;
}

.hoverIcon {
  font-size: 16px;
  margin-left: 5px;
  transform: rotate(40deg);
}

.ant-slider-mark-text {
  font-size: 12px;
}

.legend {
  font-size: 10px;
  margin-top: 15px;
  color: #04009a;
  margin-left: 10%;
}
