.sectionFive {
  padding: 40px 100px;
  background-color: #f2f2f2;
}

.Five {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerFive {
  margin-top: 40px;
  display: flex;
  font-family: monospace;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.guessBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -55vh;
  opacity: 0;
}

.guess {
  font-weight: bold;
  color: #222;
  text-align: center;
}

.radiobtn {
  background-color: transparent;
  border: 0 none;
}

.radiobtn:active {
  background-color: transparent;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  background-color: transparent;
}

.response {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.responseIcon {
  margin: auto;
  font-size: 20px;
  animation-name: move;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes move {
  0% {
    transform: translateY(-30%);
  }

  100% {
    transform: translateY(30%);
  }
}
